<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZCMVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B909E8521E7131B400EDD415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B909E86B1E7131B400EDD415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B909E8761E7131B400EDD415</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
